[Desktop Entry]
Name=Sulfer
Exec=sulfer %u
Icon=sulfer
GenericName=Web Browser
Comment=Surf the web
Type=Application
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
Keywords=Browser;Web;
