[Desktop Entry]
Name=Xupric
Exec=xupric %u
Icon=xupric
GenericName=Web Browser
Comment=Surf the web
Type=Application
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
Keywords=Browser;Web;
