@define-color main rgba(29, 31, 33, 1); /* #1d1f21 */
@define-color main_hover rgba(40, 43, 45, 1); /* #282b2d */
@define-color main_active rgba(51, 55, 58, 1); /* #33373a */
@define-color uri rgba(40, 42, 46, 1); /* #282a2e */
@define-color uri_hover rgba(53, 55, 61, 1); /* #35373d */
@define-color text rgba(171, 173, 172, 1); /* #abadac */
@define-color text_hl rgba(70, 71, 70, 1); /* #464746 */
@define-color red rgba(204, 102, 102, 1); /* cc6666 */
@define-color green rgba(181, 189, 104, 1); /* b5bd68 */

* {
	color: @text;
	background-color: @main;
	min-width: 0px;
	min-height: 0px;
}

label {
	font-family: "JetBrainsMono Nerd Font", sans-serif;
}

colorchooser * {
	all: initial;
}

messagedialog box * {
	all: initial;
	color: @text;
	font-family: "JetBrainsMono Nerd Font", sans-serif;
	background-color: @main;
	border-radius: 7px;
}

messagedialog box * entry {
	border-radius: 7px;
	background-color: @main_hover;
}

#bar_uri_entry, #bar_uri_entry_secondary, entry {
	background-color: @uri;
	box-shadow: 0 0 1px @uri_hover;
	border: 0px;
	border-radius: 7px;

	color: @text;
	font-family: "JetBrainsMono Nerd Font", sans-serif;
	font-weight: bold;
	caret-color: @text;
}

undershoot, overshoot {
	background-color: rgba(0, 0, 0, 0);
}

#menu_download_label {
	font-family: "JetBrainsMono Nerd Font", sans-serif;
	caret-color: @text;
}

#bar_fire_button, #bar_fire_button label {
	border-radius: 7px;
	padding: 0px;
	font-size: 20px;
	color: @text;
}

#bar_fire_button:active label {
	color: @red;
}

selection {
	background-color: @text_hl;
}

*:disabled {
	background-color: @main_active;
}

popover {
	border: none;
	background-color: @uri;
	border-radius: 7px;
}

popover * {
	background-color: @uri;
}

button {
	-gtk-icon-shadow: none;
	background-image: none;
	border: none;
	border-radius: 7px;
}

button:hover {
	box-shadow: 0 0 5px @main_active;
	text-shadow: none;
}

button:active {
	box-shadow: 0 0 8px @uri_hover;
	text-shadow: none;
}

button label {
	text-shadow: none;
}

menu, menu * {
	background-color: @uri;
	border: none;
}

#menu_tab_box * {
	background-color: @uri_hover;
	font-size: 14px;
}

/* item separators */
#menu_privacy_box, #menu_history_box, #menu_bookmarks_box,
#menu_cookies_box, #menu_download_box, #menu_web_box,
#menu_zoom_box, #menu_help_box, #menu_quit_box,
#help_shortcuts_box, #help_about_box,
#cookies_all_box,
#history_10_box, #history_all_box {
	border-top: 1px @uri_hover solid;
}

#history_popover, #rus_popover {
	border: 2px @uri_hover solid;
}

#rus_no_button label {
	color: @red;
}
#rus_yes_button label {
	color: @green;
}
